$blue: #2271b3;
$dark: #1d1d1d;
$grey: #6a6a6a;
$lgrey: #b7b7b7;
$critical: #df4949;
$orange: #ff9300;
$highlight: #1e58c8;
$rose: #f27b82;
$pink: #f4407d;
$bg: #d2cfce;
$red: #f12b2b;
$green: #33cc33;
$succes: #47a432;
