@import './helpers/reset.scss';
@import './helpers/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import './components/header.scss';
@import './components/footer.scss';

// main slider and grid on homepage
@import './components/main-feature-products-hp.scss';
// special offers homepage
@import './components/special-offers-hp.scss';
// news section homepage
@import './components/news-section-hp.scss';
// product found in top 10
@import './components/product-offer.scss';
// categories section homepage
@import './components/categories.scss';

// equipments buy page
@import './components/equipments';

// machinery page categories
@import './components/machinery.scss';

// machinery page categories
@import './components/product-page.scss';

// about us page
@import './components/about-us.scss';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $dark;
  background-color: $bg;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.content-container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.fluid-container {
  width: 100%;
  margin: 0 auto;
}

.white-bg {
  background-color: #fff;
}

.head-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 30px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: $blue;
}

.white-bg-section {
  padding: 40px 80px;
  margin-bottom: 60px;
  position: relative;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
    a {
      font-weight: 400;
      font-size: 18px;
    }
  }
  .swiper-button {
    width: 44px;
    height: 44px;
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
  }
}

.filter-items {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 18px;
  .all {
    border-right: 1px solid $blue;
    padding-right: 20px;
  }
  .active {
    color: $blue;
  }
}

.btn {
  display: flex;
  cursor: pointer;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background: $blue;
  border: 0;
  outline: none;
  padding: 0 20px;
  border-radius: 4px;
  min-width: 199px;
  &.reverse {
    background: #fff;
    border: 2px solid $orange;
    color: $orange;
  }
  &.btn-newsletter {
    background: $orange;
    margin-top: 30px;
    max-width: max-content;
    margin-left: auto;
  }
  &.orange {
    background: $orange;
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    font-size: 18px;
    color: $blue;
  }
}

.banner {
  position: relative;
  min-height: 440px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 40px;
  .banner-img {
    width: 100%;
    height: 100%;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #1977bb, $alpha: 1);
      border-radius: 8px;
      mix-blend-mode: multiply;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .banner-text {
    position: absolute;
    bottom: 25px;
    right: 25px;
    text-align: right;
    width: 60%;
    &.top-text {
      top: 25px;
      bottom: unset;
      h3 {
        line-height: 58px;
      }
    }
    &.middle-text {
      top: 50%;
      bottom: unset;
      transform: translateY(-50%);
    }
    h3 {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
    }
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      margin-top: 16px;
    }
  }
}

.breadcrumbs {
  font-size: 14px;
  text-transform: capitalize;
  margin: 10px 0;
}

.slider-container {
  .swiper-button {
    width: 44px;
    height: 44px;
    border: 1px solid #e5e5e5;
    background: #f7f7f7;
    border-radius: 50%;
    &.swiper-button-prev {
      left: -50px;
    }
    &.swiper-button-next {
      right: -50px;
    }
  }
}

.spacer {
  margin: 30px 0;
  height: 1px;
}

.white-box-dotted {
  background: #ffffff;
  border: 1px dashed #2271b3;
  border-radius: 8px;
  padding: 36px 26px;
  margin-bottom: 40px;
  .white-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    h3 {
      font-weight: 700;
      font-size: 24px;
      color: $blue;
    }
  }
  &.about-us-box {
    padding: 60px 120px;
  }
}

.flex-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  .title {
    flex: 0 0 100%;
    font-size: 24px;
    color: $blue;
    font-weight: 700;
    margin-bottom: -20px;
  }
}

#showMore {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: $blue;
}
