.nieman-history {
  .year.active {
    display: block;
  }

  .pagination {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 2.5px);
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #2271b3;
    }
  }

  .label {
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    color: #2271b3;
    bottom: 0;
    &.left {
      left: 50px;
    }
    &.right {
      right: 50px;
    }
  }

  .pagination .years {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .pagination .year-button {
    width: 16px;
    height: 16px;
    background-color: #2271b3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 99;
    pointer-events: none;
    span {
      display: none;
    }
    &.active {
      width: 86px;
      height: 86px;
      color: white;
      span {
        display: block;
      }
    }
    &.future {
      background-color: white;
      border: 1px solid #2271b3;
    }
  }

  .year.hide {
    display: none;
  }

  .about-content {
    padding: 100px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .timeline {
    position: relative;
    overflow: hidden;
  }

  .year.slide-up {
    transition: transform 0.5s ease;
    transform: translateY(-100%);
  }

  .year.slide-down {
    transition: transform 0.5s ease;
    transform: translateY(100%);
  }

  .year.slide-up.active,
  .year.slide-down.active {
    transform: translateY(0);
  }

  .timeline-container {
    position: relative;
    overflow: hidden;
  }

  .timeline {
    transition: all 0.5s ease;
  }
  .nav {
    width: 44px;
    height: 44px;
    background-color: #2271b3;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    &.prev {
      margin-right: 20px;
    }
    &.next {
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    .pagination .year-button {
      width: 12px;
      height: 12px;
      font-size: 10px;
      &.active {
        width: 40px;
        height: 40px;
      }
    }

    .pagination .year-button:not(.active):nth-child(odd) {
      display: none;
    }

    .pagination {
      &::before {
        height: 2px;
        top: calc(50% - 1px);
      }
    }
    .nav {
      width: 30px;
      height: 30px;
      &.prev {
        margin-right: 3px;
      }
      &.next {
        margin-left: 3px;
      }
      img {
        width: 7px;
        object-fit: contain;
      }
    }

    .label {
      bottom: -10px;
      font-size: 12px;
    }
  }
}
