/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

.top-nav {
  height: 45px;
  background-color: #2271b3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  line-height: 17px;
}
.top-nav .top-nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-nav .top-nav-links li {
  border-right: 1px solid white;
  padding-right: 10px;
}
.top-nav .top-nav-links li:last-child {
  border-right: none;
  padding-right: 0;
}

.top-nav-bg {
  background-color: #2271b3;
}

.nav-bg {
  background-color: #f7f7f7;
}

.mid-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.mid-nav .search-bar {
  position: relative;
  max-width: 600px;
  width: 100%;
}
.mid-nav .search-bar input {
  width: 100%;
  background-color: white;
  border: 1px solid #2271b3;
  border-radius: 12px;
  height: 40px;
  padding: 0 20px;
}
.mid-nav .search-bar input::placeholder {
  color: #b7b7b7;
}
.mid-nav .search-bar input:focus {
  outline: none;
}
.mid-nav .search-bar button {
  background-color: #2271b3;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 44px;
  border-radius: 0px 8px 8px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mid-nav .search-bar button img {
  max-width: 20px;
}
.mid-nav .user-actions {
  display: flex;
  align-items: center;
  gap: 26px;
  font-weight: 500;
  font-size: 13px;
  color: #2271b3;
}
.mid-nav .user-actions a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.mid-nav .user-actions a img {
  max-width: 30px;
}

.main-nav-bg {
  border-width: 1px 0px;
  border-style: dashed;
  border-color: #2271b3;
  background-color: white;
}
.main-nav-bg .main-nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 16px 0;
}
.main-nav-bg .main-nav-links li {
  font-weight: 700;
  font-size: 16px;
  color: #1d1d1d;
}
.main-nav-bg .main-nav-links li a {
  display: flex;
  align-items: center;
  gap: 6px;
}
.main-nav-bg .main-nav-links li a img {
  padding-top: 6px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px 0;
}
.feature-grid .grid-item {
  color: white;
  border-radius: 8px;
  background: linear-gradient(79.45deg, #2271b3 1.43%, #659fcf 98.34%);
  position: relative;
}
.feature-grid .grid-item .label {
  height: 30px;
  width: 260px;
  background-color: #2271b3;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.feature-grid .grid-item .grid-image {
  width: 100%;
  height: 100%;
}
.feature-grid .grid-item .grid-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.feature-grid .grid-item:not(.main-grid)::after {
  content: "";
  position: absolute;
  right: 6px;
  bottom: 10px;
  background: url("/assets/images/icons/double-arrow-r.png") no-repeat;
  width: 60px;
  height: 40px;
}
.feature-grid .main-grid {
  grid-column: 1/3;
  grid-row: 1/3;
}

.feature-slider {
  height: 420px;
}
.feature-slider .feature-product {
  display: flex;
  padding: 20px 82px;
  height: 100%;
}
.feature-slider .feature-product .feature-product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 55px;
}
.feature-slider .feature-product .feature-product-info .feature-product-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 70px;
}
.feature-slider .feature-product .feature-product-info .feature-product-price span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 3px;
}
.feature-slider .feature-product .feature-product-info .feature-product-price .price {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}
.feature-slider .feature-product .feature-product-image {
  max-width: 460px;
  width: 100%;
  position: relative;
  left: -5%;
}
.feature-slider .feature-product .feature-product-image img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}
.feature-slider .swiper-pagination {
  padding: 5px 0;
  bottom: 0;
}
.feature-slider .swiper-button {
  width: 46.04px;
  height: 42.95px;
  background: #ff9300;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 3.5px;
}
.feature-slider .swiper-button-prev {
  left: 26px;
}
.feature-slider .swiper-button-next {
  right: 26px;
}
.feature-slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ff9300;
  opacity: 1;
  transition: all 0.5s;
  border-radius: 50%;
}
.feature-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-radius: 4px;
  width: 30px;
  height: 8px;
}

.special-offer {
  height: 462px;
  max-width: 353px;
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px dashed #2271b3;
  border-radius: 8px;
  padding: 38px 30px;
  color: #6a6a6a;
}
.special-offer .category {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 7px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.special-offer .offer-img {
  position: relative;
}
.special-offer .offer-img img {
  width: 100%;
  height: 231px;
  object-fit: cover;
  margin-bottom: 14px;
}
.special-offer .offer-img .label {
  position: absolute;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 13px;
  border: 1.5px solid #ffffff;
  background-color: #ff9300;
  top: 11px;
  padding: 2px 7px;
  color: #fff;
}
.special-offer .offer-img .label.new {
  left: 11px;
}
.special-offer .offer-img .label.sale {
  right: 11px;
}
.special-offer .author {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}
.special-offer .product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
  color: #2271b3;
}
.special-offer .price {
  display: flex;
  align-items: center;
  gap: 16px;
}
.special-offer .price span {
  font-weight: 700;
  font-size: 26px;
  color: #2271b3;
}
.special-offer .price .discount {
  padding-top: 12px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.special-offer .price .discount s {
  font-weight: 300;
  font-size: 18px;
  color: #b7b7b7;
}
.special-offer .price .discount .difference {
  font-weight: 500;
  font-size: 13px;
  background: #f12b2b;
  padding: 2px 8px;
  position: relative;
  border-radius: 2px;
  color: #fff;
}
.special-offer .price .discount .difference:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #f12b2b;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}
.special-offer.top-offer {
  background-color: #2271b3;
  border: 1px dashed #ffffff;
  color: #fff;
}
.special-offer.top-offer .price span {
  color: #ff9300;
}
.special-offer.top-offer .price s {
  color: #fff;
}
.special-offer.top-offer .price .difference {
  background-color: #ff9300;
}
.special-offer.top-offer .price .difference:before {
  border-right-color: #ff9300;
}
.special-offer.top-offer .product-name {
  color: #fff;
}

.special-offers-holder {
  margin: 40px 0 60px;
  display: flex;
  gap: 30px;
}
.special-offers-holder .top-offer-holder {
  position: relative;
  flex: 0 0 383px;
}
.special-offers-holder .top-offer-holder::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 74%;
  background-color: #fff;
  right: 0;
  top: 20%;
}
.special-offers-holder .special-offer-slider {
  min-width: 0;
}
.special-offers-holder .special-offer-slider .head-title {
  padding-left: 40px;
}
.special-offers-holder .special-offer-slider .swiper-button {
  width: 44px;
  height: 44px;
  border: 1px solid #e5e5e5;
  background: #f7f7f7;
  border-radius: 50%;
}
.special-offers-holder .special-offer-slider .swiper-button.swiper-button-prev {
  left: -10px;
}
.special-offers-holder .special-offer-slider .swiper-button.swiper-button-next {
  right: -60px;
}
.special-offers-holder .slider-holder {
  padding-left: 40px;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1d1d1d;
  background-color: #d2cfce;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.content-container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.fluid-container {
  width: 100%;
  margin: 0 auto;
}

.white-bg {
  background-color: #fff;
}

.head-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 20px;
}

/*# sourceMappingURL=layout.css.map */
